# Pricing Model of the Seattle Airbnb Dataset
## Business User: A leaser or prospective leaser


## Business Questions


## Data Source
https://www.kaggle.com/c/home-credit-default-risk

In [2]:
#Import relevant Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import tree

In [3]:
#import datasets
df_app=pd.read_csv("application_train.csv")

In [4]:
df_app.head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.0,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Pricing column has Nan values
df_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [6]:
for col in df_app.columns:
    print(col)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [7]:
def cols_with_few(df,threshold):
    '''
    Input: Dataframe, a threshold of unique values
    Output: Prints of fields and the unique values they contain
    Global variables: few, a list of fields
    '''

    for col in df.columns:
        a=df[col].unique().shape[0]
        if a<threshold:
            a=df[col].value_counts()
            print("")
            print("##############")
            print(col)
            print(a)

In [8]:
cols_with_few(df_app,99999)

##############
TARGET
0    282686
1     24825
Name: TARGET, dtype: int64

##############
NAME_CONTRACT_TYPE
Cash loans         278232
Revolving loans     29279
Name: NAME_CONTRACT_TYPE, dtype: int64

##############
CODE_GENDER
F      202448
M      105059
XNA         4
Name: CODE_GENDER, dtype: int64

##############
FLAG_OWN_CAR
N    202924
Y    104587
Name: FLAG_OWN_CAR, dtype: int64

##############
FLAG_OWN_REALTY
Y    213312
N     94199
Name: FLAG_OWN_REALTY, dtype: int64

##############
CNT_CHILDREN
0     215371
1      61119
2      26749
3       3717
4        429
5         84
6         21
7          7
14         3
19         2
12         2
10         2
9          2
8          2
11         1
Name: CNT_CHILDREN, dtype: int64

##############
AMT_INCOME_TOTAL
135000.0    35750
112500.0    31019
157500.0    26556
180000.0    24719
90000.0     22483
            ...
101119.5        1
79425.0         1
101128.5        1
202275.0        1
262174.5        1
Name: AMT_INCOME_TOTAL, Length: 2548, dtype: int64

##############
AMT_CREDIT
450000.0     9709
675000.0     8877
225000.0     8162
180000.0     7342
270000.0     7241
             ...
827100.0        1
413442.0        1
1652458.5       1
825853.5        1
2097058.5       1
Name: AMT_CREDIT, Length: 5603, dtype: int64

##############
AMT_ANNUITY
9000.0     6385
13500.0    5514
6750.0     2279
10125.0    2035
37800.0    1602
           ...
15210.0       1
50265.0       1
73012.5       1
40558.5       1
4437.0        1
Name: AMT_ANNUITY, Length: 13672, dtype: int64

##############
AMT_GOODS_PRICE
450000.0    26022
225000.0    25282
675000.0    24962
900000.0    15416
270000.0    11428
            ...
705892.5        1
442062.0        1
353641.5        1
353749.5        1
738945.0        1
Name: AMT_GOODS_PRICE, Length: 1002, dtype: int64

##############
NAME_TYPE_SUITE
Unaccompanied      248526
Family              40149
Spouse, partner     11370
Children             3267
Other_B              1770
Other_A               866
Group of people       271
Name: NAME_TYPE_SUITE, dtype: int64

##############
NAME_INCOME_TYPE
Working                 158774
Commercial associate     71617
Pensioner                55362
State servant            21703
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: NAME_INCOME_TYPE, dtype: int64

##############
NAME_EDUCATION_TYPE
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: NAME_EDUCATION_TYPE, dtype: int64

##############
NAME_FAMILY_STATUS
Married                 196432
Single / not married     45444
Civil marriage           29775
Separated                19770
Widow                    16088
Unknown                      2
Name: NAME_FAMILY_STATUS, dtype: int64

##############
NAME_HOUSING_TYPE
House / apartment      272868
With parents            14840
Municipal apartment     11183
Rented apartment         4881
Office apartment         2617
Co-op apartment          1122
Name: NAME_HOUSING_TYPE, dtype: int64

##############
REGION_POPULATION_RELATIVE
0.035792    16408
0.046220    13442
0.030755    12163
0.025164    11950
0.026392    11601
            ...
0.001417      467
0.001333      235
0.000533       39
0.000938       28
0.000290        2
Name: REGION_POPULATION_RELATIVE, Length: 81, dtype: int64

##############
DAYS_BIRTH
-13749    43
-13481    42
-18248    41
-10020    41
-15771    40
          ..
-25032     1
-7956      1
-8001      1
-7861      1
-24894     1
Name: DAYS_BIRTH, Length: 17460, dtype: int64

##############
DAYS_EMPLOYED
 365243    55374
-200         156
-224         152
-199         151
-230         151
           ...
-11115         1
-11371         1
-11883         1
-13536         1
-8795          1
Name: DAYS_EMPLOYED, Length: 12574, dtype: int64

##############
DAYS_REGISTRATION
-1.0        113
-7.0         98
-6.0         96
-2.0         92
-4.0         92
           ...
-12446.0      1
-17298.0      1
-14676.0      1
-15817.0      1
-13267.0      1
Name: DAYS_REGISTRATION, Length: 15688, dtype: int64

##############
DAYS_ID_PUBLISH
-4053    169
-4095    162
-4046    161
-4417    159
-4256    158
        ...
-5696      1
-6073      1
-6076      1
-6176      1
-6189      1
Name: DAYS_ID_PUBLISH, Length: 6168, dtype: int64

##############
OWN_CAR_AGE
7.0     7424
6.0     6382
3.0     6370
8.0     5887
2.0     5852
        ...
52.0       1
56.0       1
47.0       1
50.0       1
57.0       1
Name: OWN_CAR_AGE, Length: 62, dtype: int64

##############
FLAG_MOBIL
1    307510
0         1
Name: FLAG_MOBIL, dtype: int64

##############
FLAG_EMP_PHONE
1    252125
0     55386
Name: FLAG_EMP_PHONE, dtype: int64

##############
FLAG_WORK_PHONE
0    246203
1     61308
Name: FLAG_WORK_PHONE, dtype: int64

##############
FLAG_CONT_MOBILE
1    306937
0       574
Name: FLAG_CONT_MOBILE, dtype: int64

##############
FLAG_PHONE
0    221080
1     86431
Name: FLAG_PHONE, dtype: int64

##############
FLAG_EMAIL
0    290069
1     17442
Name: FLAG_EMAIL, dtype: int64

##############
OCCUPATION_TYPE
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: OCCUPATION_TYPE, dtype: int64

##############
CNT_FAM_MEMBERS
2.0     158357
1.0      67847
3.0      52601
4.0      24697
5.0       3478
6.0        408
7.0         81
8.0         20
9.0          6
10.0         3
14.0         2
16.0         2
12.0         2
20.0         2
11.0         1
13.0         1
15.0         1
Name: CNT_FAM_MEMBERS, dtype: int64

##############
REGION_RATING_CLIENT
2    226984
3     48330
1     32197
Name: REGION_RATING_CLIENT, dtype: int64

##############
REGION_RATING_CLIENT_W_CITY
2    229484
3     43860
1     34167
Name: REGION_RATING_CLIENT_W_CITY, dtype: int64

##############
WEEKDAY_APPR_PROCESS_START
TUESDAY      53901
WEDNESDAY    51934
MONDAY       50714
THURSDAY     50591
FRIDAY       50338
SATURDAY     33852
SUNDAY       16181
Name: WEEKDAY_APPR_PROCESS_START, dtype: int64

##############
HOUR_APPR_PROCESS_START
10    37722
11    37229
12    34233
13    30959
14    27682
9     27384
15    24839
16    20385
8     15127
17    14900
7      9131
18     9049
6      5842
19     3848
5      3638
4      2090
3      1230
20     1196
21      405
2       305
22      150
1        86
23       41
0        40
Name: HOUR_APPR_PROCESS_START, dtype: int64

##############
REG_REGION_NOT_LIVE_REGION
0    302854
1      4657
Name: REG_REGION_NOT_LIVE_REGION, dtype: int64

##############
REG_REGION_NOT_WORK_REGION
0    291899
1     15612
Name: REG_REGION_NOT_WORK_REGION, dtype: int64

##############
LIVE_REGION_NOT_WORK_REGION
0    295008
1     12503
Name: LIVE_REGION_NOT_WORK_REGION, dtype: int64

##############
REG_CITY_NOT_LIVE_CITY
0    283472
1     24039
Name: REG_CITY_NOT_LIVE_CITY, dtype: int64

##############
REG_CITY_NOT_WORK_CITY
0    236644
1     70867
Name: REG_CITY_NOT_WORK_CITY, dtype: int64

##############
LIVE_CITY_NOT_WORK_CITY
0    252296
1     55215
Name: LIVE_CITY_NOT_WORK_CITY, dtype: int64

##############
ORGANIZATION_TYPE
Business Entity Type 3    67992
XNA                       55374
Self-employed             38412
Other                     16683
Medicine                  11193
Business Entity Type 2    10553
Government                10404
School                     8893
Trade: type 7              7831
Kindergarten               6880
Construction               6721
Business Entity Type 1     5984
Transport: type 4          5398
Trade: type 3              3492
Industry: type 9           3368
Industry: type 3           3278
Security                   3247
Housing                    2958
Industry: type 11          2704
Military                   2634
Bank                       2507
Agriculture                2454
Police                     2341
Transport: type 2          2204
Postal                     2157
Security Ministries        1974
Trade: type 2              1900
Restaurant                 1811
Services                   1575
University                 1327
Industry: type 7           1307
Transport: type 3          1187
Industry: type 1           1039
Hotel                       966
Electricity                 950
Industry: type 4            877
Trade: type 6               631
Industry: type 5            599
Insurance                   597
Telecom                     577
Emergency                   560
Industry: type 2            458
Advertising                 429
Realtor                     396
Culture                     379
Industry: type 12           369
Trade: type 1               348
Mobile                      317
Legal Services              305
Cleaning                    260
Transport: type 1           201
Industry: type 6            112
Industry: type 10           109
Religion                     85
Industry: type 13            67
Trade: type 4                64
Trade: type 5                49
Industry: type 8             24
Name: ORGANIZATION_TYPE, dtype: int64

##############
EXT_SOURCE_3
0.746300    1460
0.713631    1315
0.694093    1276
0.670652    1191
0.652897    1154
            ...
0.018137       1
0.017017       1
0.858178       1
0.018924       1
0.024057       1
Name: EXT_SOURCE_3, Length: 814, dtype: int64

##############
APARTMENTS_AVG
0.0825    6663
0.0619    6332
0.0928    4404
0.0722    3986
0.0082    3507
          ...
0.1987       1
0.2519       1
0.9804       1
0.1677       1
0.7608       1
Name: APARTMENTS_AVG, Length: 2339, dtype: int64

##############
BASEMENTAREA_AVG
0.0000    14745
0.0545      251
0.0818      251
0.0727      248
0.1091      246
          ...
0.4090        1
0.3593        1
0.3942        1
0.2686        1
0.4737        1
Name: BASEMENTAREA_AVG, Length: 3780, dtype: int64

##############
YEARS_BEGINEXPLUATATION_AVG
0.9871    4311
0.9856    4189
0.9861    4171
0.9801    4123
0.9866    4114
          ...
0.7303       1
0.9220       1
0.2380       1
0.4893       1
0.6508       1
Name: YEARS_BEGINEXPLUATATION_AVG, Length: 285, dtype: int64

##############
YEARS_BUILD_AVG
0.8232    2999
0.8164    2864
0.8028    2848
0.7280    2802
0.7348    2761
          ...
0.0616       2
0.1976       2
0.3676       2
0.0276       1
0.0208       1
Name: YEARS_BUILD_AVG, Length: 149, dtype: int64

##############
COMMONAREA_AVG
0.0000    8442
0.0079     544
0.0078     475
0.0080     446
0.0077     414
          ...
0.1480       1
0.5108       1
0.3104       1
0.4891       1
0.3607       1
Name: COMMONAREA_AVG, Length: 3181, dtype: int64

##############
ELEVATORS_AVG
0.0000    85718
0.0800     9886
0.1600     8806
0.2400     6071
0.1200     5593
          ...
0.1736        1
0.1152        1
0.0216        1
0.1140        1
0.2368        1
Name: ELEVATORS_AVG, Length: 257, dtype: int64

##############
ENTRANCES_AVG
0.1379    34007
0.0690    22956
0.1034    19533
0.2069    19062
0.0345    15380
          ...
0.2145        1
0.0659        1
0.1021        1
0.0579        1
0.0493        1
Name: ENTRANCES_AVG, Length: 285, dtype: int64

##############
FLOORSMAX_AVG
0.1667    61875
0.3333    31909
0.0417    14600
0.3750     7926
0.1250     6974
          ...
0.4758        1
0.1433        1
0.6129        1
0.0613        1
0.1608        1
Name: FLOORSMAX_AVG, Length: 403, dtype: int64

##############
FLOORSMIN_AVG
0.2083    32875
0.3750    17845
0.0417    17776
0.0833     5086
0.4167     3961
          ...
0.1488        1
0.3000        1
0.2388        1
0.3367        1
0.1425        1
Name: FLOORSMIN_AVG, Length: 305, dtype: int64

##############
LANDAREA_AVG
0.0000    15600
0.0631      189
0.0316      187
0.0473      186
0.0174      180
          ...
0.2674        1
0.6913        1
0.2749        1
0.3181        1
0.2230        1
Name: LANDAREA_AVG, Length: 3527, dtype: int64

##############
LIVINGAPARTMENTS_AVG
0.0504    4272
0.0672    4231
0.0756    2778
0.0588    2586
0.0841    1864
          ...
0.1108       1
0.0830       1
0.1020       1
0.0778       1
0.0788       1
Name: LIVINGAPARTMENTS_AVG, Length: 1868, dtype: int64

##############
LIVINGAREA_AVG
0.0000    284
0.0512    243
0.0510    223
0.0702    223
0.0509    221
         ...
0.8497      1
0.4145      1
0.3524      1
0.3694      1
0.6670      1
Name: LIVINGAREA_AVG, Length: 5199, dtype: int64

##############
NONLIVINGAPARTMENTS_AVG
0.0000    54549
0.0039    13606
0.0077     6351
0.0116     3714
0.0154     2533
          ...
0.2452        1
0.6023        1
0.3629        1
0.6795        1
0.0946        1
Name: NONLIVINGAPARTMENTS_AVG, Length: 386, dtype: int64

##############
NONLIVINGAREA_AVG
0.0000    58735
0.0012      546
0.0044      454
0.0022      440
0.0031      415
          ...
0.6440        1
0.2855        1
0.3042        1
0.2478        1
0.2498        1
Name: NONLIVINGAREA_AVG, Length: 3290, dtype: int64

##############
APARTMENTS_MODE
0.0840    7522
0.0630    7451
0.0945    4757
0.0735    4388
0.0084    3970
          ...
0.8445       1
0.8971       1
0.5945       1
0.8676       1
0.7532       1
Name: APARTMENTS_MODE, Length: 760, dtype: int64

##############
BASEMENTAREA_MODE
0.0000    16598
0.0566      269
0.0849      265
0.0642      253
0.0830      251
          ...
0.3863        1
0.3144        1
0.3315        1
0.2876        1
0.3351        1
Name: BASEMENTAREA_MODE, Length: 3841, dtype: int64

##############
YEARS_BEGINEXPLUATATION_MODE
0.9871    4291
0.9866    4173
0.9861    4167
0.9801    4110
0.9806    4083
          ...
0.8421       1
0.9057       1
0.7433       1
0.9176       1
0.5318       1
Name: YEARS_BEGINEXPLUATATION_MODE, Length: 221, dtype: int64

##############
YEARS_BUILD_MODE
0.8301    2960
0.8236    2879
0.7387    2789
0.8171    2763
0.8105    2755
          ...
0.0918       2
0.0591       1
0.0330       1
0.0657       1
0.0983       1
Name: YEARS_BUILD_MODE, Length: 154, dtype: int64

##############
COMMONAREA_MODE
0.0000    9690
0.0080     546
0.0079     543
0.0078     518
0.0081     416
          ...
0.3897       1
0.4423       1
0.4627       1
0.5271       1
0.1980       1
Name: COMMONAREA_MODE, Length: 3128, dtype: int64

##############
ELEVATORS_MODE
0.0000    89498
0.0806    11629
0.1611     9675
0.2417     6379
0.1208     5734
0.0403     4876
0.2014     3962
0.3222     2887
0.2820     2135
0.4028     1554
0.3625     1308
0.4834     1094
0.4431      628
0.5639      491
0.6445      447
0.5236      253
0.6042      226
0.7250      219
1.0000      144
0.8056      137
0.6848       99
0.9667       87
0.8862       66
0.7653       38
0.8459       34
0.9264       20
Name: ELEVATORS_MODE, dtype: int64

##############
ENTRANCES_MODE
0.1379    36041
0.0690    26704
0.1034    20533
0.2069    19678
0.0345    19428
0.1724     8986
0.2759     8036
0.2414     4013
0.3448     2046
0.3103     2014
0.4138     1212
0.3793      977
0.4828      500
0.4483      431
0.0000      387
0.5517      351
0.5172      301
0.6207      241
0.5862      186
1.0000      152
0.6897      116
0.6552       65
0.8966       52
0.7586       48
0.7241       44
0.8276       42
0.7931       39
0.9655       25
0.9310       21
0.8621       14
Name: ENTRANCES_MODE, dtype: int64

##############
FLOORSMAX_MODE
0.1667    65550
0.3333    34373
0.0417    15616
0.3750     8321
0.1250     7267
0.0833     6785
0.0000     3415
0.4583     3216
0.6250     2075
0.5417     1836
0.6667     1710
0.2083     1505
0.2500      572
0.2917      511
0.5833      391
0.4167      236
0.8750      229
0.7083      199
0.5000      184
1.0000      164
0.7500      124
0.9583       94
0.7917       58
0.9167       38
0.8333       22
Name: FLOORSMAX_MODE, dtype: int64

##############
FLOORSMIN_MODE
0.2083    34403
0.3750    19042
0.0417    18917
0.0833     5349
0.4167     4105
0.1667     3636
0.1250     3170
0.0000     2517
0.5000     1889
0.6667     1264
0.7083     1143
0.5833     1051
0.2500      772
0.2917      359
0.3333      320
0.6250      207
1.0000      141
0.5417      140
0.9167      131
0.4583      105
0.7500       99
0.7917       61
0.8333       22
0.9583       17
0.8750        9
Name: FLOORSMIN_MODE, dtype: int64

##############
LANDAREA_MODE
0.0000    17453
0.0194      208
0.0645      193
0.0484      192
0.0323      188
          ...
0.3699        1
0.3600        1
0.2922        1
0.4341        1
0.3554        1
Name: LANDAREA_MODE, Length: 3563, dtype: int64

##############
LIVINGAPARTMENTS_MODE
0.0551    4931
0.0735    4797
0.0826    2966
0.0643    2853
0.0918    2069
          ...
0.5969       1
0.6042       1
0.6869       1
0.6244       1
0.5519       1
Name: LIVINGAPARTMENTS_MODE, Length: 736, dtype: int64

##############
LIVINGAREA_MODE
0.0000    444
0.0530    272
0.0532    262
0.0529    249
0.0533    242
         ...
0.4844      1
0.5606      1
0.7897      1
0.5616      1
0.6665      1
Name: LIVINGAREA_MODE, Length: 5301, dtype: int64

##############
NONLIVINGAPARTMENTS_MODE
0.0000    59255
0.0039    14105
0.0078     6413
0.0117     3675
0.0156     2492
          ...
0.6342        1
0.8911        1
0.6070        1
0.7626        1
0.3774        1
Name: NONLIVINGAPARTMENTS_MODE, Length: 167, dtype: int64

##############
NONLIVINGAREA_MODE
0.0000    67126
0.0011      477
0.0046      466
0.0033      430
0.0012      427
          ...
0.3167        1
0.8592        1
0.4457        1
0.7801        1
0.3147        1
Name: NONLIVINGAREA_MODE, Length: 3327, dtype: int64

##############
APARTMENTS_MEDI
0.0833    7109
0.0625    6687
0.0937    4622
0.0729    4211
0.0083    3562
          ...
0.7026       1
0.2326       1
0.7390       1
0.9160       1
0.8317       1
Name: APARTMENTS_MEDI, Length: 1148, dtype: int64

##############
BASEMENTAREA_MEDI
0.0000    14991
0.0818      271
0.1091      266
0.0545      265
0.0727      248
          ...
0.2983        1
0.4633        1
0.4724        1
0.9125        1
0.2919        1
Name: BASEMENTAREA_MEDI, Length: 3772, dtype: int64

##############
YEARS_BEGINEXPLUATATION_MEDI
0.9871    4314
0.9861    4247
0.9856    4199
0.9866    4138
0.9801    4115
          ...
0.8967       1
0.9101       1
0.4873       1
0.9091       1
0.8818       1
Name: YEARS_BEGINEXPLUATATION_MEDI, Length: 245, dtype: int64

##############
YEARS_BUILD_MEDI
0.8256    2994
0.8189    2883
0.8054    2842
0.7316    2799
0.8121    2784
          ...
0.3828       2
0.2083       2
0.0339       1
0.0406       1
0.0071       1
Name: YEARS_BUILD_MEDI, Length: 151, dtype: int64

##############
COMMONAREA_MEDI
0.0000    8691
0.0079     581
0.0080     486
0.0078     481
0.0014     377
          ...
0.7109       1
0.2660       1
0.7736       1
0.8911       1
0.1534       1
Name: COMMONAREA_MEDI, Length: 3202, dtype: int64

##############
ELEVATORS_MEDI
0.00    87026
0.08    10832
0.16     9278
0.24     6392
0.12     5946
0.04     4852
0.20     4162
0.32     2937
0.28     2317
0.40     1604
0.36     1405
0.48     1096
0.44      715
0.10      543
0.56      493
0.64      454
0.06      388
0.14      388
0.02      368
0.52      290
0.18      280
0.60      248
0.22      226
0.72      224
1.00      158
0.26      145
0.80      140
0.68      112
0.30       94
0.96       81
0.34       80
0.88       68
0.38       62
0.76       45
0.84       32
0.42       32
0.46       23
0.92       20
0.50       16
0.54       10
0.78       10
0.58        6
0.90        6
0.74        6
0.66        5
0.62        5
Name: ELEVATORS_MEDI, dtype: int64

##############
ENTRANCES_MEDI
0.1379    35535
0.0690    24193
0.1034    20492
0.2069    19750
0.0345    16150
0.1724     9566
0.2759     8048
0.2414     4318
0.3448     2108
0.3103     2086
0.0862     1352
0.1207     1228
0.4138     1198
0.3793     1010
0.1552      788
0.0517      611
0.1897      554
0.4828      503
0.4483      438
0.5517      352
0.0000      329
0.5172      304
0.2241      278
0.6207      241
0.5862      187
0.2586      169
1.0000      153
0.6897      116
0.2931      106
0.6552       68
0.3276       59
0.8966       52
0.7586       48
0.7241       44
0.8276       42
0.7931       39
0.3621       39
0.4310       31
0.9655       25
0.9310       21
0.8621       14
0.3966       14
0.4655       12
0.0172        7
0.5690        4
0.5000        1
Name: ENTRANCES_MEDI, dtype: int64

##############
FLOORSMAX_MEDI
0.1667    63607
0.3333    33279
0.0417    14832
0.3750     8207
0.1250     7079
0.0833     6657
0.4583     3089
0.0000     2995
0.6250     2042
0.5417     1860
0.2500     1684
0.6667     1675
0.2083     1544
0.2917      567
0.1042      460
0.3542      459
0.5833      439
0.3958      346
0.4167      329
0.1458      321
0.5000      312
0.2708      291
0.1875      245
0.8750      223
0.4792      220
0.7083      204
1.0000      170
0.4375      138
0.7500      136
0.0625      132
0.3125      131
0.2292      128
0.0208      126
0.6042      115
0.9583       95
0.7917       61
0.5208       47
0.5625       46
0.8333       39
0.9167       37
0.6458       30
0.7708       27
0.6875       24
0.8125       23
0.7292       10
0.9375        4
0.8542        3
0.8958        2
0.9792        1
Name: FLOORSMAX_MEDI, dtype: int64

##############
FLOORSMIN_MEDI
0.2083    33737
0.3750    18538
0.0417    18090
0.0833     5131
0.4167     4068
0.1667     3570
0.1250     3373
0.0000     2351
0.5000     1835
0.6667     1261
0.7083     1108
0.5833     1057
0.2917      852
0.2500      779
0.3333      341
0.6250      235
0.5417      212
0.3958      205
0.4375      186
0.1458      180
0.1875      159
0.4583      154
0.3125      148
1.0000      147
0.9167      130
0.2292      121
0.7500      116
0.1042      106
0.2708      104
0.5208       81
0.3542       79
0.7917       64
0.4792       61
0.0625       51
0.0208       50
0.6458       49
0.8333       27
0.5625       19
0.6042       16
0.8750       16
0.9583       14
0.8125       12
0.7292       10
0.6875        9
0.7708        7
0.9792        5
0.8542        5
Name: FLOORSMIN_MEDI, dtype: int64

##############
LANDAREA_MEDI
0.0000    15919
0.0193      197
0.0642      194
0.0482      186
0.0161      180
          ...
0.3545        1
0.4450        1
0.4782        1
0.3136        1
0.6064        1
Name: LANDAREA_MEDI, Length: 3560, dtype: int64

##############
LIVINGAPARTMENTS_MEDI
0.0513    4500
0.0684    4497
0.0770    2926
0.0599    2708
0.0855    2014
          ...
0.6328       1
0.1706       1
0.1791       1
0.8183       1
0.6396       1
Name: LIVINGAPARTMENTS_MEDI, Length: 1097, dtype: int64

##############
LIVINGAREA_MEDI
0.0000    299
0.0548    239
0.0518    234
0.0520    233
0.0521    232
         ...
0.4183      1
0.6305      1
0.5266      1
0.3131      1
0.5239      1
Name: LIVINGAREA_MEDI, Length: 5281, dtype: int64

##############
NONLIVINGAPARTMENTS_MEDI
0.0000    56097
0.0039    14126
0.0078     6493
0.0116     3788
0.0155     2557
          ...
0.8890        1
0.4328        1
0.3649        1
0.3513        1
0.7065        1
Name: NONLIVINGAPARTMENTS_MEDI, Length: 214, dtype: int64

##############
NONLIVINGAREA_MEDI
0.0000    60954
0.0012      539
0.0022      478
0.0037      456
0.0044      431
          ...
0.3305        1
0.2427        1
0.1831        1
0.2288        1
0.3657        1
Name: NONLIVINGAREA_MEDI, Length: 3323, dtype: int64

##############
FONDKAPREMONT_MODE
reg oper account         73830
reg oper spec account    12080
not specified             5687
org spec account          5619
Name: FONDKAPREMONT_MODE, dtype: int64

##############
HOUSETYPE_MODE
block of flats      150503
specific housing      1499
terraced house        1212
Name: HOUSETYPE_MODE, dtype: int64

##############
TOTALAREA_MODE
0.0000    582
0.0570    247
0.0547    230
0.0550    227
0.0548    227
         ...
0.8362      1
0.5119      1
0.4823      1
0.3659      1
0.3500      1
Name: TOTALAREA_MODE, Length: 5116, dtype: int64

##############
WALLSMATERIAL_MODE
Panel           66040
Stone, brick    64815
Block            9253
Wooden           5362
Mixed            2296
Monolithic       1779
Others           1625
Name: WALLSMATERIAL_MODE, dtype: int64

##############
EMERGENCYSTATE_MODE
No     159428
Yes      2328
Name: EMERGENCYSTATE_MODE, dtype: int64

##############
OBS_30_CNT_SOCIAL_CIRCLE
0.0      163910
1.0       48783
2.0       29808
3.0       20322
4.0       14143
5.0        9553
6.0        6453
7.0        4390
8.0        2967
9.0        2003
10.0       1376
11.0        852
12.0        652
13.0        411
14.0        258
15.0        166
16.0        133
17.0         88
18.0         46
19.0         44
20.0         30
21.0         29
22.0         22
23.0         15
24.0         11
25.0         11
27.0          5
26.0          3
30.0          2
28.0          1
348.0         1
29.0          1
47.0          1
Name: OBS_30_CNT_SOCIAL_CIRCLE, dtype: int64

##############
DEF_30_CNT_SOCIAL_CIRCLE
0.0     271324
1.0      28328
2.0       5323
3.0       1192
4.0        253
5.0         56
6.0         11
7.0          1
8.0          1
34.0         1
Name: DEF_30_CNT_SOCIAL_CIRCLE, dtype: int64

##############
OBS_60_CNT_SOCIAL_CIRCLE
0.0      164666
1.0       48870
2.0       29766
3.0       20215
4.0       13946
5.0        9463
6.0        6349
7.0        4344
8.0        2886
9.0        1959
10.0       1335
11.0        837
12.0        620
13.0        401
14.0        238
15.0        166
16.0        137
17.0         73
18.0         49
19.0         44
20.0         30
21.0         28
22.0         20
23.0         13
24.0         12
25.0         11
27.0          5
29.0          2
28.0          1
344.0         1
47.0          1
26.0          1
30.0          1
Name: OBS_60_CNT_SOCIAL_CIRCLE, dtype: int64

##############
DEF_60_CNT_SOCIAL_CIRCLE
0.0     280721
1.0      21841
2.0       3170
3.0        598
4.0        135
5.0         20
6.0          3
24.0         1
7.0          1
Name: DEF_60_CNT_SOCIAL_CIRCLE, dtype: int64

##############
DAYS_LAST_PHONE_CHANGE
 0.0       37672
-1.0        2812
-2.0        2318
-3.0        1763
-4.0        1285
           ...
-3558.0        1
-3978.0        1
-3701.0        1
-3809.0        1
-3731.0        1
Name: DAYS_LAST_PHONE_CHANGE, Length: 3773, dtype: int64

##############
FLAG_DOCUMENT_2
0    307498
1        13
Name: FLAG_DOCUMENT_2, dtype: int64

##############
FLAG_DOCUMENT_3
1    218340
0     89171
Name: FLAG_DOCUMENT_3, dtype: int64

##############
FLAG_DOCUMENT_4
0    307486
1        25
Name: FLAG_DOCUMENT_4, dtype: int64

##############
FLAG_DOCUMENT_5
0    302863
1      4648
Name: FLAG_DOCUMENT_5, dtype: int64

##############
FLAG_DOCUMENT_6
0    280433
1     27078
Name: FLAG_DOCUMENT_6, dtype: int64

##############
FLAG_DOCUMENT_7
0    307452
1        59
Name: FLAG_DOCUMENT_7, dtype: int64

##############
FLAG_DOCUMENT_8
0    282487
1     25024
Name: FLAG_DOCUMENT_8, dtype: int64

##############
FLAG_DOCUMENT_9
0    306313
1      1198
Name: FLAG_DOCUMENT_9, dtype: int64

##############
FLAG_DOCUMENT_10
0    307504
1         7
Name: FLAG_DOCUMENT_10, dtype: int64

##############
FLAG_DOCUMENT_11
0    306308
1      1203
Name: FLAG_DOCUMENT_11, dtype: int64

##############
FLAG_DOCUMENT_12
0    307509
1         2
Name: FLAG_DOCUMENT_12, dtype: int64

##############
FLAG_DOCUMENT_13
0    306427
1      1084
Name: FLAG_DOCUMENT_13, dtype: int64

##############
FLAG_DOCUMENT_14
0    306608
1       903
Name: FLAG_DOCUMENT_14, dtype: int64

##############
FLAG_DOCUMENT_15
0    307139
1       372
Name: FLAG_DOCUMENT_15, dtype: int64

##############
FLAG_DOCUMENT_16
0    304458
1      3053
Name: FLAG_DOCUMENT_16, dtype: int64

##############
FLAG_DOCUMENT_17
0    307429
1        82
Name: FLAG_DOCUMENT_17, dtype: int64

##############
FLAG_DOCUMENT_18
0    305011
1      2500
Name: FLAG_DOCUMENT_18, dtype: int64

##############
FLAG_DOCUMENT_19
0    307328
1       183
Name: FLAG_DOCUMENT_19, dtype: int64

##############
FLAG_DOCUMENT_20
0    307355
1       156
Name: FLAG_DOCUMENT_20, dtype: int64

##############
FLAG_DOCUMENT_21
0    307408
1       103
Name: FLAG_DOCUMENT_21, dtype: int64

##############
AMT_REQ_CREDIT_BUREAU_HOUR
0.0    264366
1.0      1560
2.0        56
3.0         9
4.0         1
Name: AMT_REQ_CREDIT_BUREAU_HOUR, dtype: int64

##############
AMT_REQ_CREDIT_BUREAU_DAY
0.0    264503
1.0      1292
2.0       106
3.0        45
4.0        26
5.0         9
6.0         8
9.0         2
8.0         1
Name: AMT_REQ_CREDIT_BUREAU_DAY, dtype: int64

##############
AMT_REQ_CREDIT_BUREAU_WEEK
0.0    257456
1.0      8208
2.0       199
3.0        58
4.0        34
6.0        20
5.0        10
8.0         5
7.0         2
Name: AMT_REQ_CREDIT_BUREAU_WEEK, dtype: int64

##############
AMT_REQ_CREDIT_BUREAU_MON
0.0     222233
1.0      33147
2.0       5386
3.0       1991
4.0       1076
5.0        602
6.0        343
7.0        298
9.0        206
8.0        185
10.0       132
11.0       119
12.0        77
13.0        72
14.0        40
15.0        35
16.0        23
17.0        14
18.0         6
19.0         3
24.0         1
27.0         1
22.0         1
23.0         1
Name: AMT_REQ_CREDIT_BUREAU_MON, dtype: int64

##############
AMT_REQ_CREDIT_BUREAU_QRT
0.0      215417
1.0       33862
2.0       14412
3.0        1717
4.0         476
5.0          64
6.0          28
7.0           7
8.0           7
19.0          1
261.0         1
Name: AMT_REQ_CREDIT_BUREAU_QRT, dtype: int64

##############
AMT_REQ_CREDIT_BUREAU_YEAR
0.0     71801
1.0     63405
2.0     50192
3.0     33628
4.0     20714
5.0     12052
6.0      6967
7.0      3869
8.0      2127
9.0      1096
11.0       31
12.0       30
10.0       22
13.0       19
14.0       10
17.0        7
15.0        6
19.0        4
18.0        4
16.0        3
21.0        1
23.0        1
25.0        1
20.0        1
22.0        1
Name: AMT_REQ_CREDIT_BUREAU_YEAR, dtype: int64

## Observations
#### SK_ID_CURR
 - Key

#### TARGET
 - Binary as int
 - target column
 - No Nan values
 
#### NAME_CONTRACT_TYPE
 - Categorical as int64
 
#### CODE_GENDER
 - genders
 - mainly male / female
 - 4 exmamples of other
 - exclude rows with "XNA" 

#### FLAG_OWN_CAR
 - y/n to be converted to binary
 - No Nan values
 
#### FLAG_OWN_REALTY
 - y/n to be converted to binary
 - No Nan values
 
#### CNT_CHILDREN
 - okay type
 
#### AMT_INCOME_TOTAL
 - okay type
 - check for outliers
 - ****need to investigate further
 
#### AMT_CREDIT
 - okay type
 - check for outliers
 - ****need to investigate further

#### AMT_ANNUITY
 - okay type
 - check for outliers
 - ****need to investigate further
 
#### AMT_GOODS_PRICE
 - okay type
 - check for outliers
 - ****need to investigate further
 
#### NAME_TYPE_SUITE
 - Categorical as int64
 
#### NAME_INCOME_TYPE
 - Categorical as int64
 
#### NAME_EDUCATION_TYPE
 - Categorical as int64
 
#### NAME_FAMILY_STATUS
 - Categorical as int64
 
#### NAME_HOUSING_TYPE
 - Categorical as int64
 
#### REGION_POPULATION_RELATIVE
 - ****need to investigate further
 
#### DAYS_BIRTH
 - ****need to investigate further

#### DAYS_EMPLOYED
 - ****need to investigate further
 
#### DAYS_REGISTRATION
 - ****need to investigate further
 
#### DAYS_ID_PUBLISH
 - ****need to investigate further
 
#### OWN_CAR_AGE
 - appears to be the age of the person's car
 
#### FLAG_MOBIL
 - binary as int
 - drop column
 - 2 values, but only 1 divergent observation
 
 
#### FLAG_EMP_PHONE
 - binary as int
 
#### FLAG_WORK_PHONE
 - binary as int
 
#### FLAG_CONT_MOBILE
 - binary as int
 
#### FLAG_PHONE
 - binary as int
 
#### FLAG_EMAIL
 - binary as int
 
#### OCCUPATION_TYPE
 - categorical
 
#### CNT_FAM_MEMBERS
 - floats
 
#### REGION_RATING_CLIENT
 - floats

#### REGION_RATING_CLIENT_W_CITY
 - floats

#### WEEKDAY_APPR_PROCESS_START and HOUR_APPR_PROCESS_START
 - concat the two fields to a categorical
 
#### REG_REGION_NOT_LIVE_REGION
 - Binary as int
 
#### REG_REGION_NOT_WORK_REGION
 - Binary as int
 
#### LIVE_REGION_NOT_WORK_REGION
 - Binary as int
 
#### REG_CITY_NOT_LIVE_CITY
 - Binary as int
 
#### REG_CITY_NOT_WORK_CITY
 - Binary as int
 
#### LIVE_CITY_NOT_WORK_CITY
 - Binary as int
 
#### ORGANIZATION_TYPE
 - Categorical
 
#### EXT_SOURCE_1
 - floats

#### EXT_SOURCE_2
 - floats

#### EXT_SOURCE_3
 - floats

#### APARTMENTS_AVG
 - floats

#### BASEMENTAREA_AVG
 - floats

#### YEARS_BEGINEXPLUATATION_AVG
 - floats

#### YEARS_BUILD_AVG
 - floats

#### COMMONAREA_AVG
 - floats

#### ELEVATORS_AVG
 - floats

#### ENTRANCES_AVG
 - floats

#### FLOORSMAX_AVG
 - floats

#### FLOORSMIN_AVG
 - floats

#### LANDAREA_AVG
 - floats

#### LIVINGAPARTMENTS_AVG
 - floats

#### LIVINGAREA_AVG
 - floats

#### NONLIVINGAPARTMENTS_AVG
 - floats

#### NONLIVINGAREA_AVG
 - floats

#### APARTMENTS_MODE
 - floats

#### BASEMENTAREA_MODE
 - floats

#### YEARS_BEGINEXPLUATATION_MODE
 - floats

#### YEARS_BUILD_MODE
 - floats

#### COMMONAREA_MODE
 - floats

#### ELEVATORS_MODE
 - floats

#### ENTRANCES_MODE
 - floats

#### FLOORSMAX_MODE
 - floats

#### FLOORSMIN_MODE
 - floats

#### LANDAREA_MODE
 - floats

#### LIVINGAPARTMENTS_MODE
 - floats

#### LIVINGAREA_MODE
 - floats

#### NONLIVINGAPARTMENTS_MODE
 - floats

#### NONLIVINGAREA_MODE
 - floats

#### APARTMENTS_MEDI
 - floats

#### BASEMENTAREA_MEDI
 - floats

#### YEARS_BEGINEXPLUATATION_MEDI
 - floats

#### YEARS_BUILD_MEDI
 - floats

#### COMMONAREA_MEDI
 - floats

#### ELEVATORS_MEDI
 - floats

#### ENTRANCES_MEDI
 - floats

#### FLOORSMAX_MEDI
 - floats

#### FLOORSMIN_MEDI
 - floats

#### LANDAREA_MEDI
 - floats

#### LIVINGAPARTMENTS_MEDI
 - floats

#### LIVINGAREA_MEDI
 - floats

#### NONLIVINGAPARTMENTS_MEDI
 - floats

#### NONLIVINGAREA_MEDI
 - floats
 
#### FONDKAPREMONT_MODE
 - Categorical
 
#### HOUSETYPE_MODE
 - Categorical
 
#### TOTALAREA_MODE
 - floats

#### WALLSMATERIAL_MODE
 - floats

#### EMERGENCYSTATE_MODE
 - floats

#### OBS_30_CNT_SOCIAL_CIRCLE
 - floats

#### DEF_30_CNT_SOCIAL_CIRCLE
 - floats

#### OBS_60_CNT_SOCIAL_CIRCLE
 - floats

#### DEF_60_CNT_SOCIAL_CIRCLE
 - floats

#### DAYS_LAST_PHONE_CHANGE
 - floats

#### FLAG_DOCUMENT_2
 - binary as int
 - 2 values, 1x 13, 0x 218340 - Drop column
 
#### FLAG_DOCUMENT_3
 - binary as int
 
#### FLAG_DOCUMENT_4
 - binary as int
 - 2 values, 1x 25, 0x 307486 - Drop column
 
#### FLAG_DOCUMENT_5
 - binary as int
 
#### FLAG_DOCUMENT_6
 - binary as int
 
#### FLAG_DOCUMENT_7
 - binary as int
 
#### FLAG_DOCUMENT_8
 - binary as int
 
#### FLAG_DOCUMENT_9
 - binary as int
 
#### FLAG_DOCUMENT_10
 - binary as int
 
#### FLAG_DOCUMENT_11
 - binary as int
 
#### FLAG_DOCUMENT_12
 - binary as int
 
#### FLAG_DOCUMENT_13
 - binary as int
 
#### FLAG_DOCUMENT_14
 - binary as int
 
#### FLAG_DOCUMENT_15
 - binary as int
 
#### FLAG_DOCUMENT_16
 - binary as int
 
#### FLAG_DOCUMENT_17
 - binary as int
 
#### FLAG_DOCUMENT_18
 - binary as int
 
#### FLAG_DOCUMENT_19
 - binary as int
 
#### FLAG_DOCUMENT_20
 - binary as int
 
#### FLAG_DOCUMENT_21
 - binary as int
 
#### AMT_REQ_CREDIT_BUREAU_HOUR
 - floats
 
#### AMT_REQ_CREDIT_BUREAU_DAY
 - floats
 
#### AMT_REQ_CREDIT_BUREAU_WEEK
 - floats
 
#### AMT_REQ_CREDIT_BUREAU_MON
 - floats
 
#### AMT_REQ_CREDIT_BUREAU_QRT
 - floats
 
#### AMT_REQ_CREDIT_BUREAU_YEAR
 - floats

FLAG_MOBIL - 2 values, 1x 307510, 0x 1 - Drop column
FLAG_DOCUMENT_2 - 2 values, 1x 13, 0x 218340 - Drop column
FLAG_DOCUMENT_4 - 2 values, 1x 25, 0x 307486 - Drop column
FLAG_DOCUMENT_7 -

In [10]:
cols_drop=["FLAG_MOBIL","FLAG_DOCUMENT_2","FLAG_DOCUMENT_4"]